.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  margin: 26px auto 0;
}

.u-section-1 .u-form-1 {
  height: 644px;
  margin: 0 271px 60px 299px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-right: 171px;
    margin-left: 199px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-right: 61px;
    margin-left: 89px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-left: 0;
    margin-right: 0;
  }
}