.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  margin: 256px auto 0;
}

.u-section-1 .u-form-1 {
  height: 644px;
  margin: 0 291px 60px 279px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-right: 191px;
    margin-left: 179px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-right: 81px;
    margin-left: 69px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }
}